<div id="city-jobs-count-chart" class="chart-div col-md-6"></div>

<script type="text/javascript">
    var cityJobsCountChart = echarts.init(document.getElementById('city-jobs-count-chart'));
    // 指定图表的配置项和数据

    var option = {
        title: {
            text: '各城市职位占比',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: [
                {% for (city, count) in city_jobs_count_statistic.items() %}
                    '{{city}}',
                {% end %}
            ]
        },
        series: [
            {
                name: '拉勾数据',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: [
                    {% for (city, count) in city_jobs_count_statistic.items() %}
                        {
                            value: '{{count}}',
                            name: '{{city}}'
                        },
                    {% end %}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    cityJobsCountChart.setOption(option);
</script>