<div id="education-year-chart" class="chart-div col-md-6"></div>

<script type="text/javascript">
    var educationChart = echarts.init(document.getElementById('education-year-chart'));
    // 指定图表的配置项和数据

    var option = {
        title: {
            text: '学历要求',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
            data: [
                {% for (education, count) in educations_request_counter.items() %}
                    '{{education}}',
                {% end %}
            ]
        },
        series: [
            {
                name: '拉勾数据',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: [
                    {% for (education, count) in educations_request_counter.items() %}
                        {
                            value: '{{count}}',
                            name: '{{education}}'
                        },
                    {% end %}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    educationChart.setOption(option);
</script>