<div id="finance-stage-chart" class="large-chart-div col-md-12"></div>

<script type="text/javascript">
    var financeStageChart = echarts.init(document.getElementById('finance-stage-chart'));
    // 指定图表的配置项和数据


    var option = {
        title: {
            text: '公司融资情况',
            subtext: '统计招聘该岗位的公司'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01]
        },
        yAxis: {
            type: 'category',
            data: ['成熟型(不需要融资)','成长型(不需要融资)','初创型(不需要融资)', '上市公司','D轮及以上',
                    'C轮', 'B轮', 'A轮', '天使轮', '未融资']
        },
        series: [
            {
                name: '数量(单位:个)',
                type: 'bar',
                data: [
                    {{finance_stage_distribution['成熟型(不需要融资)']}},
                    {{finance_stage_distribution['成长型(不需要融资)']}},
                    {{finance_stage_distribution['初创型(不需要融资)']}},
                    {{finance_stage_distribution['上市公司']}},
                    {{finance_stage_distribution['成熟型(D轮及以上)']}},
                    {{finance_stage_distribution['成熟型(C轮)']}},
                    {{finance_stage_distribution['成长型(B轮)']}},
                    {{finance_stage_distribution['成长型(A轮)']}},
                    {{finance_stage_distribution['初创型(天使轮)']}},
                    {{finance_stage_distribution['初创型(未融资)']}}
                ]
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    financeStageChart.setOption(option);
</script>